<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
</div>

<% if (Object.values(sess).length === 0) {%>
    <p>로그인이 되어있지 않습니다.</p>
    <p>로그인 후 데이터를 가져올 수 있습니다.</p>
<% } else {%>
    <!-- <table border="1">
        <colgroup>
            <col width="50px" />
            <col width="150px" />
            <col width="400px" />
        </colgroups>
        <% for (var row of data) { %> 
        <tr>
            <td><%= row.id %></td>
            <td><%= row.title %></td>
            <td><%= row.content %></td>
        </tr>
        <% } %> 
    </table> -->
    
    <!-- 유서 Chart -->
    <div class="row" id="testamentView">
    <% if (data.length > 0) {%>
        <div class="col-12">
            <h3 class="mb-3"> <%= sess.email %>님의 유서</h3>
            <% data.forEach(idea => {%>
                <div class="card card-body mb-2" style="width:50%; box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important; border-radius: .35rem;">
                <h4><%= idea.title %></h4>
                <p><%= idea.details %></p>
                <a href="/testam/edit/<%= idea._id %>" class="btn btn-dark btn-block shadow  mb-2" style="width: 20%; background-color: #0969c9; border: 0px;">수정</a>
                <form method="post" action="testam/<%= idea._id %>?_method=DELETE">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" class="btn btn-danger btn-block" value="삭제" style="width: 20%; background-color: #0969c9;  border: 0px;">
                </form>
                </div>
            <% }); %>
    
        </ul>
        </div>
    <% } else { %>
        <div class="text-center" style="margin:100px auto;">
            <h3>생성된 유서가 없습니다.</h3>
            <button class="d-none d-lg-inline-block btn btn-lg btn-primary shadow-lg" id="btnCreateTestam"><i
            class="fas fa-plus fa-lg text-white-50"></i> 유서작성하기</button>
        </div>
    <% } %>
    </div>
 
    <div id="testamentModify" style="display:none;">
        <form action="/testam/sqlInsert" method="POST">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title">
            </div>
            <div class="form-group">
                <label for="title">Details</label>
                <textarea class="form-control" name="content"></textarea>
            </div>
            <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="btnViewTestament"><i
                class="fas fa-plus fa-lg text-white-50"></i> 뒤로가기</button>
            <button type="submit" class="btn btn-primary">저장하기</submit>        
        </form>

    </div>
<%
} %> 

<script type="text/javascript">
$(document).ready(function(){
    //유서작성하기 버튼 클릭
    $("#btnCreateTestam").click(function(){
        viewModify();
    });

    //뒤로가기 버튼 클릭
    $("#btnViewTestament").click(function(){
        viewTestament();
    });

    //수정모드로 변경
    function viewModify() {
        $("#testamentView").hide();
        $("#testamentModify").show();
    }

    //유서 보기
    function viewTestament() {
        $("#testamentView").show();
        $("#testamentModify").hide();
    }
});
</script>