
    <!-- Main Content -->
    <div id="content">
        <form name="voice_content" method="POST">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                    <h1>Voice Info</h1>
                    <ul class="list-group">
                        <% if(locals.data){ %>
                            <table>
                                <tr>
                                    <td>녹음 번호</td><td><input disabled type="text" class="list-group-item" value="<%= data[0].content_seq %>"/></td>
                                </tr>
                                <tr>
                                    <td>유저ID</td><td><input disabled type="text" class="list-group-item" value="<%= data[0].account_id %>"/></td>
                                </tr>
                                <tr>
                                    <td>제목</td><td><input type="text" name="title" class="list-group-item" value="<%= data[0].title %>"/></td>
                                </tr>
                                <tr>
                                    <td>내용</td><td><input type="text" name="content" class="list-group-item" value="<%= data[0].content %>"/></td>
                                </tr>
                                <tr>
                                    <td>음성파일</td><td><input disabled type="text" class="list-group-item" value="<%= data[0].voice %>"/><audio src="">audio</audio></td>
                                </tr>
                                <tr>
                                    <td>등록일</td><td><input disabled type="text"class="list-group-item" value="<%= data[0].reporting_date %>"/></td>
                                </tr>

                            </table>
                        <% } %>
                    </ul>
                    </div>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <input type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                            name="content" value="수정하기" formaction="/voice/ContentInfoUpdate"/>           
                        <input type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                            name="content" value="삭제" formaction="/voice/ContentInfoDelete"/>
                    </div>
                        
                </div>
            </div>
        </form>    

    </div>
