    <% 
        var curDate = data[0].reporting_date;
        var reporting_date = curDate.getFullYear() + "-" + (curDate.getMonth() + 1) + "-" + curDate.getDate()
    %>
    <!-- Main Content -->
    <div id="content">
        <form  name="voice_content" method="POST">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                    <h1>Voice Info</h1>
                    <ul class="list-group">
                        <% if(locals.data){ %>
                            <table>
                                <tr>
                                    <td>녹음 번호</td><td><input readonly type="text" class="list-group-item" name="content_seq" value="<%= data[0].content_seq %>"/></td>
                                </tr>
                                <tr>
                                    <td>작성자</td>
                                    <td><input hidden type="text" class="list-group-item" value="<%= data[0].account_id %>"/>
                                        <input readonly type="text" class="list-group-item" value="<%= sess['email'] %>"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>제목</td><td><input type="text" name="title" class="list-group-item" value="<%= data[0].title %>"/></td>
                                </tr>
                                <tr>
                                    <td>내용</td><td><input type="text" name="content" class="list-group-item" value="<%= data[0].content %>"/></td>
                                </tr>
                                <tr>
                                        
                                    <td>음성파일</td><td>
                                     <input hidden type="text" class="list-group-item" name="audioSrc" value="<%= data[0].voice %>"/>
                                     <div id="sound-clips"></div>
                                    
                                    </td>
                                </tr>
                                <tr>
                                    <td>등록일</td><td><input readonly type="text" class="list-group-item" value="<%= reporting_date %>"/></td>
                                </tr>
                            </table>
                        <% } %>
                    </ul>
                    </div>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <input type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                            name="actionURL" value="수정하기" formaction="/voice/ContentInfoUpdate"/>&nbsp        
                        <input type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                            name="actionURL" value="삭제" formaction="/voice/ContentInfoDelete/<%= data[0].content_seq %>"/>
                    </div>

                </div>
            </div>
        </form>    
        <script>
            //선언
            const audioDiv = document.getElementById("sound-clips")

            //페이지 onload이벤트
            window.onload = function(){
                //DB에서 추출한 blob 데이터 값 가져오기
                let soundClips = document.getElementsByName("audioSrc")
                //blob 데이터 가공
                var blob = new Blob([soundClips.value], {
                        'type': 'audio/ogg codecs=opus'
                    });
                //blob 사용을 위해 URL 생성
                let objectURL = URL.createObjectURL(blob)
                
                const audio = document.createElement('audio')
                audio.src = objectURL
                const clipContainer = document.createElement('article')
                const clipLabel = document.createElement('p')
                const blobData= document.createElement('input')

                clipContainer.classList.add('clip')
                audio.setAttribute('controls', 'true')
                audio.controls = true
                clipContainer.appendChild(audio)
                clipContainer.appendChild(blobData)
                clipContainer.appendChild(clipLabel)
                blobData.type='file'
                blobData.name='voice'
                blobData.type='hidden'
                
                audioDiv.appendChild(clipContainer)

                chunks = []
                const audioURL = URL.createObjectURL(blob)
                audio.src = audioURL
            }
                

        </script>
    </div>
